html{
    box-sizing: border-box;
    font-size: 100%;
}
.container{
    background: rgba(67, 63, 63, 0.964);
    padding-top: 10px;
    padding-bottom: 30px;
}
.page{
    background: white;
    padding-bottom: 5px;
    /* padding: 20px; */
    /* box-shadow: 0 0 15px rgba(50, 50, 50, 0.75) ; */
}
body{
    background-color: rgba(224, 45, 45, 0.893);
    font-family: "DINWebBold", sans-serif;
    font-size: 100%;
}
.title{
    padding-top: 20px;
    padding-left: 20px;
}
.main{
    background-color: rgb(234, 234, 237);
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 20px;
    padding-right: 7px;
    width: 80%;
    margin: 20px;
}
table{
    border-collapse: collapse;
    /* border: 1px solid black; */
}
.button {
    text-size-adjust: 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 20px 0 0;
    cursor: pointer;
    font-weight: 400;
  }
th{
    text-align: left;
    padding: 8px;
    border-spacing: 0;
    border: 1px solid black;
    background-color: rgba(72, 44, 44, 0.126);
}
td{
    text-align: left;
    padding: 8px;
    border: 1px solid rgb(122, 121, 121);
    width: 20%;
}
.myResult{
    color: rgb(194, 20, 20);
    font-weight: bold;
    font-size: 120%;
    margin: -10px 0 0;
}
.button1{
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(202, 16, 16);
    border: none;
    color: white;
    font-size: 14px;
    padding: 4px 7px;
    margin: 5px;
    text-align: center;
}
#act{
    color: rgb(166, 16, 16)
}
